{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body bg-dark text-white">
    <h1>Edit school</h1>

    <form action="{{url_for('curso.update', id=curso.id_curso)}}" method="POST">
      <div class="mb-3">
        <label for="fullname">select school to course:</label>
        <input
          type="text"
          name="codigo"
          value="{{curso.codigo}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="email">Write course´s code:</label>
        <input
          type="text"
          name="nombre"
          value="{{curso.nombre}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="phone">Write  course's name :</label>
        <input
          type="tel"
          name="duracion"
          value="{{curso.duracion}}"
          class="form-control bg-dark text-white rounded-0"
        />
      </div>
      <div class="mb-3">
        <label for="duration"> Credits number :</label>
        <input
          type="text"
          name="credito"
          class="form-control rounded-0 bg-dark border-0 text-white"
          placeholder="Write duration"
          required
        />
      </div>

      <button class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

{% endblock %}
