{% extends "layout.html" %} {% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body bg-dark text-white">
        <h1>Edit Student</h1>

        <form action="{{url_for('estudiante.update', id=estudiante.id_estudiante)}}" method="POST">

            <input type="hidden" name="id_escuela" value="{{estudiante.id_escuela}}"  />
            <!--div class="mb-3">
                <label for="code">select school to Student:</label>
                <select class="col-sm-10 form-control" name="id_escuela">
                    {% for escuela in escuelas %}
                    <option value="{{escuela.id_escuela}}">{{escuela.nombre}}</option>
                    {% endfor %}
                </select>
            </div-->

            <div class="mb-3">
                <label for="name">dni:</label>
                <input type="text" name="dni" value="{{estudiante.dni}}"
                    class="form-control rounded-0 bg-dark border-0 text-white" placeholder="Write your dni" required />
            </div>

            <div class="mb-3">
                <label for="name">Apellidos:</label>
                <input type="text" name="apellidos" value="{{estudiante.apellidos}}"
                    class="form-control rounded-0 bg-dark border-0 text-white" placeholder="Write your lastname"
                    required />
            </div>

            <div class="mb-3">
                <label for="duration">Nombres:</label>
                <input type="text" name="nombres" value="{{estudiante.nombres}}"
                    class="form-control rounded-0 bg-dark border-0 text-white" placeholder="Write your names"
                    required />
            </div>
            <div class="mb-3">
                <label for="duration"> Fecha de nacimiento :</label>
                <input type="date" name="fecNacimiento" value="{{estudiante.fecNacimiento}}"
                    class="form-control rounded-0 bg-dark border-0 text-white" required />
            </div>
            <div class="mb-3">
                <select class="col-sm-7  form-control " name="sexo">
                    <option value="Male">Masculino</option>
                    <option value="Female">Femenino </option>
                    <option value="Other">Otro</option>
                </select>
            </div>


            <button class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

{% endblock %}