<form action="/newscourse" method="POST" class="card bg-black text-light">
  <div class="card-body p-4">
    <h1 class="h5 mb-4">Add school</h1>

    <div class="mb-3">
      <label for="code">select school to will have course:</label>
      <select class="col-sm-10 form-control"  name="id_escuela"  >
        {% for escuela in escuelas %}
        <option value="{{escuela.id_escuela}}">{{escuela.nombre}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="name">Write course´s code:</label>
      <input type="text" name="codigo" class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="Write some code" required />
    </div>

    <div class="mb-3">
      <label for="duration">Write course's name :</label>
      <input type="text" name="nombre" class="form-control rounded-0 bg-dark border-0 text-white"
        placeholder="Write duration" required />
    </div>
    <div class="mb-3">
      <label for="duration"> Credits number :</label>
      <select class="col-sm-7  form-control "  name="credito" >
        <option value="2">2 creditos</option>
        <option value="3">3 creditos</option>
        <option value="4">4 creditos</option>
      </select>
    </div>

    <button class="btn btn-primary">submit all</button>
  </div>
</form>