{% extends 'layout.html' %}
{% block body %}
<div style="background-color: rgb(249, 249, 249);" class="container col-md-8 p-5">

  <div class="card-body .lead">
    <p class="text-center p-2  "> UNAMBA</p>


    <p class="text-center p-2 bg-primary text-white"> MISION</p>

    “Formar profesionales humanistas, científicos y tecnológicos logrando calidad en el estudiante, con valores,
    identidad
    cultural, responsabilidad social, liderazgo y comprometidos con el desarrollo sostenible”.

    <p class="text-center p-2 bg-primary text-white"> VISION</p>


    Los peruanos acceden a una educación que les permite desarrollar su potencial y convertirse en ciudadanos que
    valoran
    su cultura, conocen sus derechos y responsabilidades, desarrollan sus talentos y participan dentro de la comunidad
    académica de manera innovadora, competitiva y comprometida en las dinámicas sociales, contribuyendo al desarrollo de
    sus comunidades y del país en su conjunto.




  </div>


</div>


{% endblock %}